doctype html
head
    title Le Blog - See My Posts
    link(href='/stylesheet.css', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    link(href='/normalize.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Swanky+and+Moo+Moo' rel='stylesheet' type='text/css')
    link(href='/stylesheet.css', rel='stylesheet')
    link(href='/responsive.css', rel='stylesheet')
    script(src='scripts/javascript.js')
body
    div(class="banner")
        h1 This Little Blog
    nav
        ul
            li
                a(href='/profile') menu 
            li
                a(href='/addPost') new post 
            li(class="selected")
                a(href='/seeMyPosts') see my posts
            li
                a(href='/seePosts') see all posts
            li
                a(href='/edit') edit profile
            li
                a(href='/logout') logout
    div(class="intro")
        h2 #{user.firstname}'s Posts
        div(class="tableOfContents")
            h3 Quick Nav
            each post in message
                li 
                    a(href="#titleLink_#{post.id}") #{post.title}
    div(class="messageDisplay")
        each post in message
          li 
            p.titleLink(id="titleLink_#{post.id}") #{post.title}
            p #{post.body}
            a.commentLink(id="#{post.id}") + click here for comments on this post
            div(class="commentDropdown" id="commentID_#{post.id}")
                ul
                    each comment in post.comments
                        li #{comment.user.username}: #{comment.comment}
                .commentWrapper
                    form(action="/seePosts" method="post" class="commentSubmitForm" id="commentForm_#{post.id}")
                        input(type="hidden" name="blogMessageId" value="#{post.id}")
                        input(type="hidden" name="UserId" value="#{user}")
                        textarea(class="commentForm" type="text" name="commentBody")
                        input(class="commentSubmit" id="commentSubmit_#{post.id}" type="submit")
    footer(id="footer")
        p made in 2016 by colette biervliet-schranz